{% from "html/button.html" import button %}
{% set isLogin = true %}
{% set userName = 'Nikolay Ivanov' %}

<div class="header">
    <div class="header__logo">{% include "html/svg/logo.html" %}</div>

    <div class="header__auth">
        {% if isLogin %}
        <div class="header__user">
            {% include "html/svg/user-icon.html" %}
            <span class="header__user__name">{{ userName }}</span>
        </div>
        {% endif %}
        <div class="header__auth__button">
            {{ button('Log out' if isLogin else 'Login', appearance = 'link', size = 's',
            icon = "html/svg/logout-icon.html" if isLogin)}}
        </div>
    </div>
</div>
