<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pet project</title>
        <link rel="stylesheet" href="../styles/index.css" />
        <script src="../polyfills.js"></script>
        <script src="../main.js"></script>
    </head>
    <body>
        <header>{% include "html/header.html" %}</header>
<!--        <main>{% include "html/auth-page.html" %}</main>-->
        <main>{% include "html/courses-page.html" %}</main>
        <footer><span>&copy; Coursenta 2021</span></footer>
    </body>
</html>
